fastapi
httpx
openai
pydantic
pydantic_settings
requests
starlette
uvicorn
google-genai
jinja2
python-multipart
markitdown[all]
nh3
faiss-cpu
pymilvus
pdf-to-markdown[async_sync_env]
numpy
pymupdf
pymupdf4llm
pillow
tqdm
lunardate
